body {
  background-color: rgb(226, 223, 223);
  margin: 0%;
  
  
}
.one {
  justify-content: space-between;
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  margin-top: -25px;
}
.Hello {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  line-height: 4px;
  color: rgb(71, 109, 134);
  text-align: center;
  font-size: 22px;
}
.Hello {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img {
  border-radius: 3%;
}

.menu {
  list-style-type: none;
  text-indent: 2pt;
  display: flex;
  margin: 2%;
  flex-direction: row;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.menu a {
  line-height: 1.25em;
  font-size: 14pt;
  text-decoration: none;
  padding: 4px;
  margin: 10px 10px 10px 10px;
  font-family: 'Segoe UI', Verdana;
}
.menu a:hover {
  color: rgb(50, 55, 55);
  background-color: rgb(159, 188, 209);
  padding: 2px 4px 4px 4px;
  border-radius: 4px;
}

.biohr {
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 28pt;
  font-size: 28pt;
  color: rgb(71, 109, 134);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navig {
  text-indent: 28pt;
  color: rgb(48, 48, 48);
}
.paragraph {
  font-size: 28pt;
}
.tg {
  color: rgb(190, 123, 176);
  font-size: 16pt;
}
.box {
  list-style: none;
  background-color: rgb(50, 55, 55);
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}
.box a {
  text-decoration: none;
  color: rgb(159, 188, 209);
}
.logo {
  color: rgb(164, 205, 234);
  font-size: 18px;
  margin-left: 15px;
  font-family: 'Segoe UI', Verdana;
}
.lnaa {
  text-decoration: none;
  color: rgb(71, 109, 134);
}
.aboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
    gap: 60px;
    margin-top:60px;
}
.text {
  flex-wrap: wrap;
  width: 800px;
  font-size: 22px;
  font-family: "Segoe UI";
  text-align: center;
  color: rgb(50, 55, 55);
}
.facts {
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 28pt;
  font-size: 21pt;
  color: rgb(71, 109, 134);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text2 {
  color: rgb(50, 55, 55);
  font-size: 18px;
  font-family: "Segoe UI";
  align-items: flex-start;
  width: 400px;
  margin-left: 15px;
  margin-right: auto;
}
.box2 {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 80px;
}
.img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.programs {
  color: rgb(50, 55, 55);
  font-size: 19px;
  font-family: "Segoe UI";
  width: 3000px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -150px;

}
.box3 {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-items: center;

}
.img3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -110px;
}
.names {
  padding-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 28pt;
  font-size: 30pt;
  color: rgb(71, 109, 134);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.portfoliobox{
  min-height: 100vh;
  min-width: 100vh;
  
}
.photos{
  min-height: 100vh;
  min-width: 100vh;
  
  height: 300px;
  column-count: 2;
margin-left: 200px;
margin-top: 35px;

}

figcaption {
  color: rgb(71, 109, 134);
  font-size: 22px;
  margin-bottom: 25px;
}
.social{
  min-height: 100vh;
  display: flex;
  min-width: 100vh;
  align-items: center;
  justify-content: space-around;
  column-count: 2;
  gap: 300px;
  margin-left: 300px;

}
.boxx{
  min-height: 100vh;
  min-width: 100vh;
}
.boxx2{

  min-height: 100vh;
  min-width: 100vh;
}
.touch{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

